body{
    background: #f23557;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#container{
  height: 100vh;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: auto;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 2em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#leftRightContainer{
  display: flex;
  justify-content: center;
}

#appLow{
  justify-content: center;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

.headline {
  font-size: 9vw;
}

label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    justify: center;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::placeholder {
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}
